---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Introduction from '@/components/Introduction.astro';
import CallToAction from '@/components/CallToAction.astro';
import Footer from '@/components/Footer.astro';
---

<Layout
  title="Data Analyst & Strategist"
  description="Data analyst & strategist turning complex information into actionable insights that drive business decisions."
  url="/"
>
  <Header />
  <main>
    <Hero />
    <Introduction />
    <CallToAction />
  </main>
  <Footer />
</Layout>
